.exercise__page {
  .exercise {
    &__item {
      background: #55b5ff;
      border-radius: 5px;
      padding: 2rem;
    }

    &__container {
      display: flex;
      justify-content: center;
      width: 100%;
      text-align: center;
    }

    &__main-input {
      color: transparent;
      background: transparent;
      width: 0;
      height: 0;
      border: none;
      outline: none;
    }
  }
}
