.exercise__page {
  width: 780px;
  margin: auto;

  .exercise {
    &__menu {
      display: flex;
    }

    &__container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      text-align: center;
    }

    &__board {

    }

    &__text {
      background: #ccaaff;
      border-radius: 5px;
      padding: 2rem;
    }

    &__main-input {
      color: transparent;
      background: transparent;
      width: 0;
      height: 0;
      border: none;
      outline: none;
    }
  }
}
